

.card_product {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px 20px 20px;
    margin: 15px 15px;
    width: 350px;
    min-height: 400px;

    .favorites  {
        position: absolute;
        width: 30px;
        height: auto;
        fill:#000000;
        cursor: pointer;
        &:hover {
            fill: #838383;
        }
    }

    .wraper_img {
        margin: 0 auto;
        width: 280px;
        height: 280px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
    .card_info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        .card_name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            
        }
        .card_price {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #FFA542;
        }
        .card_discount {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #DF6464;
        }
    }
    .card_rating {
        margin-top: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #838383;
        span {
            color: #FFCE7F;
        }
    }
    
    
}